.yik-ui-page .loading {
  all: unset;
  justify-content: center;
  color: #969799;
  font-size: 14px;
  display: flex;
  align-items: center;
  line-height: 30px
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}

.yik-ui-page .loading .spin {
  display: inline-flex;
  content: " ";
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #969799;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
  margin-right: 5px
}

.yik-horizontal-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.yik-horizontal-screen .yik-horizontal-screen-rotate {
  flex-shrink: 0;
  width: 100vh;
  height: 100vw
}

.yik-horizontal-screen {
  width: var(--af501652);
  height: var(--48d7ac36)
}

.yik-horizontal-screen .yik-horizontal-screen-rotate {
  width: var(--48d7ac36);
  height: var(--af501652)
}

.yik-tabs[data-v-b58f9d68] {
  display: flex;
  width: fit-content;
  position: relative
}

.yik-tab[data-v-b58f9d68] {
  flex-shrink: 0;
  cursor: pointer
}

.yik-tabs-active[data-v-b58f9d68] {
  position: absolute;
  top: 0;
  left: 0
}

.yik-tabs-active *[data-v-b58f9d68] {
  width: 100%
}

.yik-tabs[data-v-0d828ce8] {
  display: flex;
  width: fit-content;
  position: relative
}

.yik-tab[data-v-0d828ce8] {
  flex-shrink: 0;
  cursor: pointer
}

.yik-tabs-active[data-v-0d828ce8] {
  position: absolute;
  top: 0;
  left: 0
}

.yik-tabs-active *[data-v-0d828ce8] {
  width: 100%
}